ion-datetime{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
    border-radius: 10px;
    --background: #000
    --color: #ebebeb
}

*{
    border: 0;
    padding: 0;
  }
  
  ion-menu-button {
    color: var(--ion-color-box);
  }
  
  ion-title{
    text-align: center;
    color: var(--ion-color-box);
    font-size:x-large;
    font-weight:900;
    background: linear-gradient(to right,var(--ion-color-box),var(--ion-color-magenta));    
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
  }

  .img-input{
    width: 20rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  ion-title ion-icon{
    color: white;
    width: 20px;
    height: 20px;
  }

  .btnCadastro{
    margin-top: 0.5rem;
    font-size: auto;
    font-weight: 600;
    border-radius: 4px;
    width: 15rem;
    height: 3rem;
    margin-right: auto;
    margin-left: auto;
  }