*{
  border: 0;
  padding: 0;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-title{
  text-align: center;
}

.icone-header{
  margin-right: 0.5rem;
  align-self: center;

}

.text-info{
  font-size: 1.3rem;
  text-align: center;

}

.header-home{
  margin-bottom: 1rem;
  text-align: center;
}

.alinhar{
  text-align: center;
  font-size: larger;
}

.alinhar ion-label{
  margin-bottom: 10px;
}
