<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon name="caret-back-outline" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>GAME<ion-icon name="cube-outline" class="icone-header"></ion-icon>BOX</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
  <ion-list>
    <form [formGroup]="editarForm" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input type="text" placeholder="nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="(((errorControl.nome.touched) || (errorControl.nome.dirty))&& errorControl.nome.errors)">
        <span *ngIf="errorControl.nome.errors?.required">Nome do jogo é obrigatório!</span>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="produtora" formControlName="produtora"></ion-input>
      </ion-item>
      <ion-item *ngIf="(((errorControl.produtora.touched) || (errorControl.produtora.dirty))&& errorControl.produtora.errors)">
        <span *ngIf="errorControl.produtora.errors?.required">Produtora do jogo é obrigatório!</span>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Selecione a Plataforma" formControlName="plataforma">
          <ion-select-option value="Pc">Pc</ion-select-option>
          <ion-select-option value="Xbox">Xbox</ion-select-option>
          <ion-select-option value="PlayStation">PlayStation</ion-select-option>
          <ion-select-option value="Switch">Nitendo Switch</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(((errorControl.plataforma.touched) || (errorControl.plataforma.dirty))&& errorControl.plataforma.errors)">
        <span *ngIf="errorControl.plataforma.errors?.required">Selecione a plataforma.</span>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Selecione o Genero" formControlName="genero">
          <ion-select-option value="Acao">Ação</ion-select-option>
          <ion-select-option value="Aventura">Aventura</ion-select-option>
          <ion-select-option value="Arcade">Arcade</ion-select-option>
          <ion-select-option value="Casual">Casual</ion-select-option>
          <ion-select-option value="Corrida">Corrida</ion-select-option>
          <ion-select-option value="Estrategia">Estrategia</ion-select-option>
          <ion-select-option value="Esportes">Esportes</ion-select-option>
          <ion-select-option value="MetroidVania">MetroidVania</ion-select-option>
          <ion-select-option value="Multijogador">Multijogador</ion-select-option>
          <ion-select-option value="RPG">RPG</ion-select-option>
          <ion-select-option value="Simulacao">Simulação</ion-select-option>
          <ion-select-option value="Terror">Terror</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(((errorControl.genero.touched) || (errorControl.genero.dirty))&& errorControl.genero.errors)">
        <span *ngIf="errorControl.genero.errors?.required">Selecione o genero do jogo.</span>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Preço: R$" formControlName="preco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Avaliação" formControlName="avaliacao">
          <ion-select-option value="1 Estrela">1 Estrela</ion-select-option>
          <ion-select-option value="2 Estrelas">2 Estrelas</ion-select-option>
          <ion-select-option value="3 Estrelas">3 Estrelas</ion-select-option>
          <ion-select-option value="4 Estrelas">4 Estrelas</ion-select-option>
          <ion-select-option value="5 Estrelas">5 Estrelas</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(((errorControl.avaliacao.touched) || (errorControl.avaliacao.dirty))&& errorControl.avaliacao.errors)">
        <span *ngIf="errorControl.avaliacao.errors?.required">Avaliação do jogo é obrigatório!</span>
      </ion-item>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Ano de Lançamento</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
              <ion-label>Ano de Lançamento</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
          
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime formControlName="anoLancamento" id="datetime" presentation="year" max={{ano_lancamento}}></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item *ngIf="(((errorControl.anoLancamento.touched) || (errorControl.anoLancamento.dirty))&& errorControl.anoLancamento.errors)">
              <span *ngIf="errorControl.anoLancamento.errors?.required">Selecione o ano de lançamento!</span>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-item>
        <ion-avatar>
          <img src="{{jogo.downloadURL}}" />
        </ion-avatar>
        <ion-button color="box" size="default" class="img-input">
          <input type="file" (change)="uploadFile($event.target)">
        </ion-button>
      </ion-item>
      <ion-button expand="block" type="submit" class="btnEdit" color="box">Editar</ion-button>
    </form>
  </ion-list>

</ion-content>
